/* ====================== ASSETS =============================== */

/* Font: Cinzel, poppins.
border: #ccc.
color logo: #999.
color home: #fff.
color: #333 */


/* ===================== Generell Style ============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1,
h2 {
    font-family: cinzel-regular;
}

p,
li,
{
font-family: poppins_regular;
}

@font-face {
    font-family: cinzel-regular;
    src: url("../fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: poppins_regular;
    src: url("../fonts/Poppins-Regular.ttf");
}

/* ===================== Header Style ============================== */

header {
    background-image: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    height: 50vh;
}

body h2 {
    padding: 1.5% 5%;
}

header h1:nth-of-type(1) {
    color: #ffffff;
    text-align: center;
    padding-top: 20%;
    font-size: 4rem;
}

header h1:nth-of-type(2) {
    color: #ffffff;
    text-align: center;
    padding-top: 1%;
    font-size: 3.9rem;
}

/* ===================== Main Style ============================== */

main h2 {
    text-align: center;
    margin: 4vh auto;
}

main article:nth-of-type(1) p {
    text-align: center;
    margin: 0 6%;
}

main section {
    text-align: center;
}

main section div:nth-of-type(1) {
    margin: 5% 60% 0 0;
    display: inline-block;
}

main section div:nth-of-type(2) {
    margin: 5% 0% 0 0;
    display: inline-block;
}

main section div:nth-of-type(3) {
    display: inline-block;
}

main section div:nth-of-type(4) {
    display: inline-block;
}

main section div:nth-of-type(5) {
    display: inline-block;
}

main section div:nth-of-type(6) {    display: inline-block;}

/* ===================== Footer Style ============================== */